{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Bienvenue sur Stressless</h1>
        <p class="lead mt-4">Stressless, votre compagnon idéal pour réduire le stress et améliorer votre bien-être. Explorez notre contenu et nos outils spécialement conçus pour vous aider à atteindre un équilibre de vie.</p>
    </div>
{% endblock %}
