{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="container pt-4">

    <div class="row">
        <h2>Bienvenue dans l'interface d'admistration</h2>
    </div>

</div>
{% endblock %}