.navbar,
.footer {
  background-color: #085008;
}
.navbar a,
.footer {
  color: white;
}

.d-flex.flex-column {
  min-height: 100vh;
}
.footer {
  margin-top: auto;
}

.questionnaire-container {
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  border: 2px solid #bfbfbf;
  border-radius: 10px;
}
.question-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #000;
}
.btn-questionnaire {
  background-color: #004d00;
  color: white;
  border: none;
}
.btn-questionnaire:hover {
  background-color: #006600;
}
