{% extends 'base.html.twig' %}

{% block title %}Questionnaire Stressless{% endblock %}

{% block body %}
    <div class="container">
        <div class="questionnaire-container bg-white shadow">
            <h1 class="text-center text-white bg-success py-2">Résultat</h1>

        </div>
    </div>
{% endblock %}

